@media all and (max-width: 575.98px) {

}

@media all and (max-width: 614.98px) {
    #xs-check{
        display:block;
    }
    #sm-check{
        display:none;
    }
    #md-check{
        display:none;
    }

    .site-info-container{
        position:relative !important;
        width:100%;
    }

    .site-info{
        margin-top:50px;
    }

    .content-box{
        position:relative !important;
        width:100%;
        margin-right:8%;
    }

    .content-item{
        -webkit-transition: none; /* For Safari 3.1 to 6.0 */
        transition: none;
        width:100%;
    }

    .content-item:hover{
        width:100%;
        height:20vh;
    }

    .content-item-clone{
        height:20vh;
    }
}

@media all and (max-width: 767.98px) {
    #sm-check{
        display:block;
    }
    #md-check{
        display:none;
    }

    .content-box{
        position:absolute;
        right:0px;
    }
    .site-info-container{
        position:fixed;
        left:calc(8%) !important;
    }

}

@media all and (max-width: 991.98px) {
    #md-check{
        display:block;
    }
}

@media all and (max-width: 1199.98px) {
    .site-info-container{
        left:calc(16% + 260px);
    }
}




@media all and (max-width: 614.98px) {
    .content-item-clone-final{
        width: 90% !important;
        left: 5% !important;
    }
}
@media all and (min-width: 615px) and (max-width: 767.98px) {
    .content-item-clone-final{
        width: 86% !important;
        left: 7% !important;
    }
}
@media all and (min-width: 768px) and (max-width: 991.98px) {
    .content-item-clone-final{
        width: 80% !important;
        left: 10% !important;
    }
}
@media all and (min-width: 992px) and (max-width: 1199.98px) {
    .content-item-clone-final{
        width: 70% !important;
        left: 15% !important;
    }
}
@media all and (min-width: 1200px) {
    .content-item-clone-final{
        width: 70% !important;
        left: 15% !important;
    }
}
