.full-height{
    height:100vh;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size:1rem;
}

body.modal-open{
    overflow:hidden;
}

h1{
    font-family: 'Gothic A1', sans-serif;
    font-weight:600;
    font-size:1.3rem;
}

.site-info-container{
    height:auto;
    width:fit-content;
    position:fixed;
    left:calc(16% + 260px);
}

.site-info{
    position:relative;
    margin-top:100px;
}

.site-nav{
    padding-right:4px;
    font-weight:500;
    color: black;
}

.site-nav:hover{
    color:black;
}

.content-box{
    display:inline-block;
    width:20%;
    min-width:260px;
    font-size:0;
    margin-bottom:15px;
    height:fit-content;
}

.content-item{
    display:inline-block;
    width:90%;
    height:20vh;
    margin: 15px 0 0 0;
    background-color:black;
    cursor:pointer;
    -webkit-transition: width .2s .3s ease-out, height .2s .3s ease-out; /* For Safari 3.1 to 6.0 */
    transition: width .2s .3s ease-out, height .2s .3s ease-out;
}

.content-item-image{
    width:100%;
    height:100%;
    background-image:url("../images/testimg.jpg");
    background-size:cover;
    background-position: center;
}

.content-item-clone{
    width:100%;
    height:22vh;
    background-color:black;
    -webkit-transition: -webkit-transform 2s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: transform 2s ease-in-out;
    z-index:10;
}

.content-item:hover{
    width:100%;
    height:22vh;
}

.invisible{
    visibility:hidden;
}

.overlay{
    position:fixed;
    width:100%;
    height:100vh;
    top:0;
    left:0;
    background-color:rgba(0,0,0,.3);
    display:none;
}

#xs-check{
    display:none;
}
#sm-check{
    display:none;
}
#md-check{
    display:none;
}