html{
	overflow:hidden;
}

.full{
	width:100%;
	height:100vh;
}

#initials{
    //background-color: red;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
	z-index:1;
}

#content{
	width:fit-content;
	height:fit-content;
	
	text-align:center;
	
	font-family: 'Anton', sans-serif;
	
	font-size:15rem;
	z-index:1;
	color: #242038;
}

.small-text{
	font-size:5rem;
}

h1{
	text-align:center;
}

#line-gutter{
	height:20vh;
}

#landing-zone{
	position:absolute;
	width:20%;
	top:40%;
	left:55%;
	//background-color:red;
}

#svg-zone{
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}

polyline {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke: rgba(0,0,0,0.5);
}
svg {
    width:100%;
    height:100vh;
}